nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='#') Admin Area
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Dashboard 
            span.sr-only (current)

        li.nav-item
          a.nav-link(href='#') Menus

        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Pages
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/admin/pages') List
            a.dropdown-item(href='/admin/page/add') Add

        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Products
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/admin/pages') List
            a.dropdown-item(href='/admin/page/add') Add

        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Orders
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/admin/pages') List
            a.dropdown-item(href='/admin/page/add') Add

        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Users
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/admin/pages') List
            a.dropdown-item(href='/admin/page/add') Add


      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

      ul.navbar-nav
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Profile
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/admin/profile') View Profile
            a.dropdown-item(href='/admin/settings') Settings
            .dropdown-divider
            a.dropdown-item(href='/admin/logout') Logout