extends ../common/layout.pug

block content
  h2= title

  table.table
    tr
      th Title
      th Keywords
      th Description
      th Status
      th Actions
    tr
      td Home Page
      td demo page, home page
      td This is the Demo Home Page
      td public
      td 
        a.btn.btn-info(href="/page/edit/1") Edit
        a.btn.btn-danger(href="/page/delete/1") Delete